<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/*.css') }}">
    <title>Scratch+ - {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
  <nav>
    <ul>
      <li>Home</li>
      <li>Fourms</li>
      <li>Projects</li>
      <li>Info</li>
    </ul>
  </nav>
  {% block body %}{% endblock %}
</body>
</html>